/*
Stole the demo
 */

@font-face { /* This will be used as main UI font (see below) */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/raleway.woff2') format('woff2');
}

@font-face { /* This will be used as text content font (see below) */
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/garamond.woff2') format('woff2');
}

body {
content: '';
z-index: -100;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.9)), url('../../../api/images/0WIyLHN7agH2/miku-hatsune.jpg') no-repeat;
background-size: cover;
    -webkit-filter: blur(0px);
}

:root {
--theme-style: dark;

--tooltip-background-color: #222;
    
--menu-text-color: white;
--menu-background-color: #222;
    
--hover-item-text-color: black;
--hover-item-background-color: #777;

--button-background-color: transparent!important;
--button-disabled-background-color: transparent!important;
--button-border-color: #ccc;
--button-text-color: currentColor;
--button-border-radius: 5px;

--primary-button-background-color: transparent;
--primary-button-text-color: white;
--primary-button-border-color: #999;    

--inactive-tab-background-color: #111;
--inactive-tab-hover-background-color: #222;
--inactive-tab-text-color: #4588B3;

--active-tab-background-color: #222;
--active-tab-hover-background-color: #333;
--active-tab-text-color: #54A5D8;

--left-pane-background-color: transparent;
--left-pane-text-color: --blue;

--launcher-pane-background-color: transparent;
--launcher-pane-text-color: --blue;

--main-font-family: 'Raleway' !important;
--tree-font-family: inherit;
--detail-font-family: inherit;
--detail-text-font-family: 'Garamond' !important;
--header-background-color: #00000000;
--button-background-color: #0f0f0fCC;
--button-disabled-background-color: #404552;
--button-text-color: (--main-text-color);
--input-background-color: #00000000;
--input-text-color: (--main-text-color);
--main-text-color: #1eb8bf;
--main-background-color: #00000000;
--menu-background-color: #0f0f0fCC;
--link-color:#2f80d0;
--link-style:italic;
--main-border-color:#e2e2e2;
--main-font-size: 0.8rem!important;
--accented-background-color: (--menu-background-color);
--more-accented-background-color: (--menu-background-color);
--active-item-text-color: (--main-text-color);
--menu-text-color: (--main-text-color);
--active-item-background-color: #0f0f0fCC;
--modal-background-color: #0f0f0fCC;
--muted-text-color: (--main-text-color);
}

body .global-menu-button {
    background-image: url("../../../images/icon-grey.png");
}

body .note-detail-text {
    font-size: 120%; /* Garamond is subjectively smaller */
}

body .CodeMirror {
    filter: invert(100%) hue-rotate(180deg);
}